@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:300');
$heading-font: 'Roboto Slab', serif;
$content-font: 'Roboto', sans-serif;
$primar-color: #0991b8;
$base-color: #ffffff;
$base-gray: #f2f4f6;
$black: #000;
$alternate-color: #272e40;
$heading-fn-size: 36px;
$content-fn-size: 18px;